@import url("https://use.typekit.net/oxy6hdx.css");

/*
font-family: futura-pt, sans-serif;
font-weight: 300;
font-style: normal;
*/


body {
    background-color:  black;
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-style: normal;
    color:  white;
}

h1 {
    font-size: 1.4em;
}

h2 {
    font-size: 1.2em;
}

h3 {
    font-size: 2.2em;
}

a {
    text-decoration:underline;
    color: #F25244;
}

