@import url("https://use.typekit.net/oxy6hdx.css");

/*
font-family: futura-pt, sans-serif;
font-weight: 300;
font-style: normal;
*/

@import url('https://fonts.googleapis.com/css?family=Nunito:400,600,700&display=swap');

/*font-family: 'Nunito', sans-serif;*/

body {
    margin: 0;
    padding: 0;
    background-color: black;
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-style: normal;
    font-weight: 300;
    font-style: normal;
    color: white;
}

input[type=search] {
    background-color: white;
    border-style: solid;
    color: black;
    border-width: 1px;
    height: 22px;
    border-radius: 6px;


}

input[type=submit] {

    background-color: black;
    border-style: solid;
    color: white;
    padding: 0px 20px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    font-size: 0.8rem;


}

.stage {
    width: 100%;
    height: 100vh;
    background-image: url(images/main-image.jpg);
    background-size: cover;
    background-position: center center;
}

.home-intro {
    position: absolute;
    width: 40vw;
    left: 35%;
    top: 63%;
    transform: translate(-50%, -50%);
}

.home-intro h1 {
    font-weight: 800;
    font-size: 7rem;
    line-height: 1;
    margin: 0;
    text-align: left;
}

.home-intro p {
    font-size: 1.7rem;
    text-align: left;
}

.home-intro button {
    background-color: transparent;
    border-style: solid;
    border-color: black;
    border-width: 1px;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    /*    border-radius: 15px;*/
    font-weight: 300;
}

.home-intro button:hover {
    /*    background-image: linear-gradient(90deg, #b209b2, #4940d6);*/
    background-color: black;
    color: white;
}

.big-logo {
    width: 14vw;
    position: absolute;
    width: 40vw;
    left: 96%;
    top: 72%;
    transform: translate(-50%, -50%);
}



footer {
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-style: normal;
    display: grid;
    grid-template-columns: repeat(3, 33vw);
    grid-template-rows: repeat(3, auto);
    text-align: center;
    padding-top: 3rem;
    padding-bottom: 3rem;
}

footer h4 {
    color: #b209b2;
}

footer div p {
    margin: 0;
    line-height: 1.5;
    text-align: center;
    font-size: 1.2rem;
}


footer div a {
    text-decoration: none;
    color: white;
}

footer div a p {
    font-size: 1.2rem;
}

.some-icon {
    width: 6%;
    padding: 1rem;
}

/*-----GRID STYLING-----*/

.g1 {
    grid-area: g1;
    /*    background-color: aqua;*/
    padding: 3rem;
}

.g2 {
    grid-area: g2;
    /*    background-color: hotpink;*/
}

.grid {
    padding-top: 3rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas:
        "g1 g2 g2 g2 g2";

    grid-column-gap: 3em;
    grid-row-gap: 0;
}





#posts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    padding: 2rem;
    grid-column-gap: 60px;
    grid-row-gap: 25px;
    position: relative;

}

.post-wrap {
    margin-left: 50px;
    margin-right: 50px;
}





p {
    font-size: 1.2em;
}



section .venue {
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 2px;
    color: #b209b2;
}

section .venue span {
    font-size: 1em;
    font-weight: 300;
    color: white;

}

section .responsibilities {
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 2px;
    color: #b209b2;

}

section .responsibilities span {
    font-size: 1em;
    font-weight: 300;
    color: white;
}

section .contact {
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 2px;
    color: #b209b2;
}

section .contact span {
    font-size: 1em;
    font-weight: 300;
    color: white;
}

.hero {
    margin-top: 9vh;
    background-image: url(images/huset-kbh.jpg);
    height: 90vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.scroll-down {
    position: absolute;
    left: 60%;
    top: 95%;
    transform: translate(-50%, -50%);
}

figure img {
    width: 100%;
}




@media screen and (max-width: 800px) {

    .hero {
        margin-top: 9vh;
        background-image: url(images/neon-huset.jpg);
        height: 90vh;
        background-size: cover;
        background-position: center center;
        position: relative;
    }
}




.intro {
    position: absolute;
    width: 40vw;
    left: 60%;
    top: 40%;
    transform: translate(-50%, -50%);
}



.intro p {
    font-size: 1.2em;
    line-height: 1.7;
}

h1 {
    font-size: 1.4em;
}

h1 .headline {
    font-size: 2.5em;


}

h2 {
    font-size: 1.5em;
    color: white;
}

h3 {
    font-size: 2.2em;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
    color: white;

}

/*----CATEGORIES----*/

.category-nav {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;

}

.g1 p {
    color: #b209b2;
    font-family: futura-pt, sans-serif;
    font-weight: 500;
    font-style: normal;
}






/*--------NAV BAR---------*/

input[type=submit] {
    /*    appearance: none;*/
    font-family: futura-pt, sans-serif;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
    transition: top 0.3s;
    /* Transition effect when sliding down (and up) */
}


nav {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 9vh;
    background-color: black;
}



.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: white;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
}


.nav-links a:hover {
    color: #b209b2;
}

.nav-links .current {
    /*    color: rgb(226, 226, 226);*/
    text-decoration: underline;
    text-decoration-color: white;
}



.nav-burger {
    display: none;
}

.nav-burger div {
    width: 22px;
    height: 2px;
    background-color: white;
    margin: 5px;
    transition: all 0.5s ease;
}

@media screen and (max-width:1024px) {

    .nav-links {
        width: 60%;
    }

}

@media screen and (max-width: 768px) {

    nav {
        padding: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 7vh;
        background-color: black;

    }

    nav div h1 {
        font-size: 12px;
    }



    body {
        overflow-x: hidden;
    }

    .nav-links {
        overflow-x: hidden;
        position: absolute;
        right: 0px;
        height: 93vh;
        top: 6vh;
        background-color: black;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 100;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links a {
        font-size: 12px;
    }

    .nav-burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);

    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}


/*----ANIMATION-----*/

.bounce {
    animation-iteration-count: infinite;
    animation-duration: 1.5s;
    animation: bounce 3.6s ease infinite;
    transform-origin: 50% 50%;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    5.55556% {
        transform: translateY(0);
    }

    11.11111% {
        transform: translateY(0);
    }

    22.22222% {
        transform: translateY(-15px);
    }

    27.77778% {
        transform: translateY(0);
    }

    33.33333% {
        transform: translateY(-15px);
    }

    44.44444% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(0);
    }
}
