@import url("https://use.typekit.net/oxy6hdx.css");

/*
font-family: futura-pt, sans-serif;
font-weight: 300;
font-style: normal;
*/


body {
    margin: 0;
    padding: 0;
    background-color:  black;
    font-family: futura-pt, sans-serif;
    font-weight: 300;
    font-style: normal;
    color:  white;
}

p {
    font-size: 1.2em;
}



section .venue {
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 2px;
    color: #F25244;
}

section .venue  span {
    font-size: 1em;
    font-weight: 300;
    color: white;

}

section .responsibilities {
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 2px;
    color: #F25244;

}

section .responsibilities  span {
    font-size: 1em;
    font-weight: 300;
    color: white;
}

section .contact {
    font-size: 1.3em;
    font-weight: 600;
    letter-spacing: 2px;
    color: #F25244;
}

section .contact span {
    font-size: 1em;
    font-weight: 300;
    color: white;
}

.hero {
    margin-top: 9vh;
    background-image: url(images/huset-kbh.jpg);
    height: 90vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}

figure img {
    width: 100%;
}

.subpage-landing {
    margin-top: 12vh;
    padding-bottom: 12vh;
    padding-top: 11vh;
    width: 50vw;
    margin: 0 auto;
}



@media screen and (max-width: 800px) {

    .hero {
    margin-top: 9vh;
    background-image: url(images/neon-huset.jpg);
    height: 90vh;
    background-size: cover;
    background-position: center center;
    position: relative;
}




}




.intro {
    position: absolute;
    width: 40vw;
    left: 60%;
    top: 40%;
    transform: translate(-50%, -50%);
}

.intro p {
    font-size: 1.2em;
    line-height: 1.7;
}

h1 {
    font-size: 1.4em;
}

h1 .headline {
    font-size: 2.5em;

}

h2 {
    font-size: 1.5em;
    color: #F25244;
}

h3 {
    font-size: 2.2em;
}

a {
    text-decoration:underline;
    color: #808080;
}

/*----CATEGORIES----*/

.category-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

}

/*--------NAV BAR---------*/

input[type=submit] {
/*    appearance: none;*/
    font-family: futura-pt, sans-serif;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;
    transition: top 0.3s; /* Transition effect when sliding down (and up) */
}


nav {
    padding-top: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 9vh;
    background-color: #F25244;
}



.nav-links {
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li {
    list-style: none;
}

.nav-links a {
    color: black;
    text-decoration: none;
    letter-spacing: 3px;
    font-size: 14px;
}


.nav-links a:hover {
    color: white;
}

.nav-links .current {
/*    color: rgb(226, 226, 226);*/
    text-decoration: underline;
    text-decoration-color: black;
}



.nav-burger {
    display: none;
}

.nav-burger div {
    width: 22px;
    height: 2px;
    background-color: black;
    margin: 5px;
    transition: all 0.5s ease;
}

@media screen and (max-width:1024px) {

    .nav-links {
        width: 60%;
    }

}

@media screen and (max-width: 768px) {

    nav {
        padding: 10px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        min-height: 7vh;
        background-color: #F25244;

    }

    nav div h1 {
        font-size: 12px;
    }



    body {
        overflow-x: hidden;
    }

    .nav-links {
        overflow-x: hidden;
        position: absolute;
        right: 0px;
        height: 93vh;
        top: 6vh;
        background-color: #F25244;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
        z-index: 100;
    }

    .nav-links li {
        opacity: 0;
    }

    .nav-links a {
        font-size: 12px;
    }

    .nav-burger {
        display: block;
        cursor: pointer;
    }
}

.nav-active {
    transform: translateX(0%);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);

    }
}

.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 5px);
}

.toggle .line2 {
    opacity: 0;
}

.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -5px);
}


